#reguser_counter
	{
	font-family: Tahoma, Arial, sans-serif;
	color: #1f7dc1;
	font-size: 26px;
	padding-top: 10px;
	}
#reguser_counter_text
	{
	font-family: Tahoma, Arial, sans-serif;
	color: #1f7dc1;
	font-size: 17px;
	}